<h1>Welcome to Mario's Specialty Shop</h1>

<div class="container">
  <ul>
    <%@products.each do |product|%>
    <li><%=link_to product.name , product_path(product) %></li>
      <li><%= product.cost %></li>
      <li><%= product.country_of_origin %></li>
  <hr>
    <%end%>
  </ul>
</div>


<h3>Three Most Recently Created Products</h3>
<ul>
  <%@products.three_most_recent.each do |product|%>
  <li><%=product.name%></li>
  <% end %>

</ul>
<hr>

<h3>The Product with the most reviews:</h3>
<ul>
  <% @products.most_reviews.each do |product| %>
  <li><%=product.name%></li>
  <% end %>
</ul>

<br>
<hr>

<%= link_to 'New Product', new_product_path(@product)  %>
